/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
font-style:normal;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

p {
  overflow-wrap:break-word;
  word-wrap:break-word;
  letter-spacing: 0.15em;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

table {
border-collapse:collapse;
border-spacing:0;
letter-spacing: 0.15em;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*------------------------
* TEXT
------------------------*/
html {
font-size: 62.5%;
}

body {
font-size: 1.0rem;
font-family:"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}

.fja {
font-family: 'Fjalla One', sans-serif;
}

.autobr {
  display: inline-block;
}

/*------------------------
* COMMON
------------------------*/
.btn a {
  padding: 20px 40px;
  box-shadow: inset 0 2px 0 rgba(191,191,191,1), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  background-color: #000;
  font-size: 2.0rem;
  text-decoration: none;
  color: #FFF;
  transition: all .3s;
}

.btn a:hover{
  background-color: #FFF;
  border: 3px solid #ff3333;
  box-shadow: none;
  color: #ff3333;
}

.red {
  color: #ff3333;
  font-weight: bold;
}

.text_caption {
  margin: 20px 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

/*------------------------
* HEADER
------------------------*/
.body {
  display: none;
}

.header {
  position: relative;
  width:100%;
  height:100vh;
  background: url(img/bg_header.png);
  background-size: cover; /*画面全体を覆う*/
  background-position: center;
}

.header_flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header_var {
  position: absolute;
  top:0;
  left:0;
}

.header_rlogo img {
  width: 176px;
}

.header_menu {
  position: absolute;
  top:0;
  height:80px;
  line-height: 80px;
  margin: 0 auto;
}

.header_menu_inner_item {
  display: inline-block;
  padding:0 16px;
  font-size: 2.4rem;
}

.header_menu_inner_item a {
  text-decoration: none;
  color: #FFF;
}

.join_logo {
  position: absolute;
  width: 643px;
  height: 381px;
  top: calc(50% - 190px);
  left: calc(50% - 321px);
}

.join_logo-sp {
  display: none;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  text-indent: -9999px;
  overflow: hidden;
  background: url(img/img_sp_joinlogo.png) center center no-repeat;
  background-size: 80% auto;
  z-index: 2;
}

/*------------------------
* CONTENTS
------------------------*/
.contents {
  width: 100%;
  margin: 0 auto;
}

.sec_title {
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  text-align: center;
}

.sec_title::after{
  content: ' ';
  display: block;
  position: absolute;
  bottom: -24px;
  left: calc(50% - 36px);
  width: 72px;
  height: 8px;
  background-color: #ff3333;
}

.sec_title-cap {
  margin-top: 48px;
  font-size: 1.6rem;
  color: #0e0e0e;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 1.5;
}

/*------------------------
* sec_Welcome
------------------------*/
.sec_welcome {
  max-width: 1008px;
  margin: 0 auto;
  padding-top: 64px;
  margin-bottom: 64px;
}

.sec_welcome_leadtxt-big {
  margin-bottom: 32px;
  font-size: 3.2rem;
  line-height: 1.5;
  text-align: center;
}

.sec_welcome_leadtxt-mid {
  height: 40px;
  margin-bottom: 36px;
  font-size: 2.4rem;
  text-align: center;
  color: #ff3333;
}

.sec_welcome_leadtxt-mid span{
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #ff3333;
}

.sec_welcome_p {
  margin-bottom: 42px;
  font-size: 1.6rem;
  line-height: 2.0;
}

.btn_contact {
  text-align: center;
  margin-bottom: 56px;
}

.sec_welcome_badgeList {
  width: 100%;
  text-align: center;
}

.sec_welcome_badgeList_item {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 1.8em;
}

.sec_welcome_badgeList_item img{
  width: 282px;
}


/*------------------------
* sec_Wanted
------------------------*/
.sec_wanted {
  max-width:1132px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.sec_wanted_typeList {
  margin-top: 56px;
}

.sec_wanted_typeList_item {
  position: relative;
  width:21%;
  display: inline-block;
  background-color: #e5e5e5;
  text-align: center;
  margin-left: 32px;
  padding: 4% 3.2% 3.2%;
  /*padding: 48px 30px 32px;*/
  border-radius: 8px;
}

.sec_wanted_typeList_item::before {
  content: url(img/check.png);
  /*content: '\f00c';*/
  position: absolute;
  top: -28px;
  left:calc(50% - 28px);
  display: block;
  background-color: #ff3333;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font-family:'FontAwesome';
  color: #FFF;
  font-size: 3.0rem;
  line-height: 54px;
  text-align: center;
}

.sec_wanted_typeList_item img{
  width: 100%;
  box-sizing: border-box;
  /*max-width:178px;
  height:149px;*/
  /*overflow: hidden;*/
}

.sec_wanted_typeList_item_title {
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 1.5;
  height: 64px;
}

.sec_wanted_text_caption {
  margin-left: 32px;
  margin-right: 32px;
}


/*------------------------
* sec_System
------------------------*/
.sec_system {
  max-width: 1008px;
  margin: 0 auto;
  margin-bottom: 88px;
}

.sec_system_table {
  width: 100%;
  margin-top: 36px;
  font-size: 1.8rem;
}

.sec_system_table th,
.sec_system_table td{
  padding: 24px 30px;
  border: 1px solid #b5b5b5;
  line-height: 1.8;
}

.sec_system_table th{
  width: 16%;
  background-color:  #EEE;
}


/*------------------------
* sec_Photos
------------------------*/
.sec_photos {
  max-width:600px;
  margin: 0 auto;
  margin-top: 32px;
  padding-bottom: 122px;
}


/*------------------------
* sec_Concept
------------------------*/
.sec_concept {
  position: relative;
  background-color: #EEE;
  margin-bottom: 80px;
}

.sec_concept_title {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.sec_concept_title-cap {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
}

.sec_concept_inner {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 32px;
  padding-top: 162px;
  padding-bottom: 100px;
}

.concept_leadtxt-big {
  font-size: 3.6rem;
  text-align: center;
}

.concept_leadtxt-middle {
  padding: 36px 0;
  line-height: 1.6;
  text-align: center;
  color: #ff3333;
  font-size: 2.4rem;
  font-family: '游明朝',YuMincho,'Hiragino Mincho ProN','Hiragino Mincho Pro','ＭＳ 明朝',serif;
}

.sec_concept_text {
  font-size: 1.6rem;
  color: #1a1a1a;
  line-height: 2.2;
}

/*------------------------
* sec_Contact
------------------------*/
.sec_contact {
  max-width: 1144px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.sec_contact_inner {
  margin-top: 32px;
  margin-bottom: 80px;
  padding: 0 16px;
}

.sec_contact_adrBlock,
.sec_contact_mapBlock {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.sec_contact_mapBlock {
  /*position: relative;*/
  margin: 0 auto;
}

.sec_contact_mapBlock .iframeWrap{
  position: relative;
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
}

.sec_contact_mapBlock iframe{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sec_contact_adrBlock {
  padding: 0 3%;
}

.sec_contact_address_title {
  font-size: 1.8rem;
  margin-bottom: 28px;
}

.sec_contact_address_tel {
  font-size: 2.4rem;
}

.sec_contact_adrBlock p {
  padding: 16px 0 0;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
}

/*------------------------
* sec_Footer
------------------------*/
.sec_footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sec_footer_inner {
  padding: 48px 0;
  background-color: #EEE;
}

.sec_footer_title {
  display: inline-block;
  width: 240px;
  padding: 20px 0;
  text-align: center;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.sec_footer_sns_menu {
  width: 100%;
  margin: 40px 0 0;
}

.sec_footer_sns_menu a {
  padding: 16px;
}

.sec_footer_copyright {
  height: 72px;
  line-height: 72px;
  font-size: 0.9rem;
  background-color: #FFF;
}




/*------------------------
*
* Media Query SP
*
------------------------*/

@media only screen and (max-width:940px){

  .btn a {
    font-size: 1.6rem;
  }

  .text_caption  {
    letter-spacing: 0;
  }

  .header_menu {
    display: none;
  }

  .join_logo {
    display: none;
  }

  .join_logo-sp {
    display: block;
    height: 600px;
  }

  .sec_welcome,
  .sec_wanted,
  .sec_contact  {
    margin-left: 8%;
    margin-right: 8%;
  }

  .sec_welcome {
    padding-top: 8%;
  }

  .sec_welcome_leadtxt-big {
    font-size: 4.8vmin;
  }

  .sec_welcome_leadtxt-mid {
    font-size: 1.8rem;
    border: 3px solid #ff3333;
    padding: 5% 8%;
    height: 20%;
  }

  .sec_welcome_leadtxt-mid span{
    border: none;
  }

  .sec_welcome_p {
    letter-spacing: 0;
  }

  .sec_welcome_badgeList_item {
    padding: 0;
  }

  .sec_wanted_typeList_item {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 4%;
    padding: 5%;
  }

  .sec_wanted_typeList_item::before {
    top: 8%;
    left: 3%;
  }

  .sec_wanted_typeList_item img{
    width: 48%;
  }

  .sec_wanted_typeList_item_title {
    margin: 0 0 0 4%;
    width: 48%;
    float: right;
  }

  .sec_system {
    width: 88%;
  }
  .sec_system_table th,
  .sec_system_table td {
    width: 100%;
    display: block;
    border-top: none;
  }
  .sec_system_table tr:first-child {
    border-top: 1px solid #b5b5b5;
  }


  .concept_leadtxt-big {
    font-size:2.4rem;
    text-align: left;
    line-height: 1.5;
  }

  .concept_leadtxt-middle {
    font-size:1.8rem;
    text-align: left;
  }

  .sec_concept_text {
    letter-spacing: 0;
  }

  .sec_contact_inner {
    padding: 0;
  }


  .sec_contact_adrBlock,
  .sec_contact_mapBlock {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 8%;
  }

  .sec_contact_mapBlock {
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 320px) and (max-width: 480px) {
.header {
    width: 320px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {

.sec_wanted_typeList_item {
  margin-bottom: 4%;
}

.sec_wanted_typeList_item::before {
  display: none;
}

.sec_wanted_typeList_item_title {
    width: 100%;
    float: none;
  }

}
